@import './utils/variables';
@import './utils/reset';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/general-styles';
@import './components/logo';
@import './components/button';
@import './components/social-links';
@import './components/titles';
@import './layout/mobile-menu';
@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/activity';
@import './layout/team';
@import './layout/clients';
@import './layout/modal';
@import './layout/footer';
@import './layout/portfolio';
