.activity__container {
  @media screen and (max-width: 1199px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.activity__list {
  @extend %flex-center;
}

.activity__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__title {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  @include text-style(14px, 1.14, 0.03em, bold);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-dg-color);
}
