.footer {
  background-color: var(--third-dg-color);
}

.footer__container {
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 60px 15px;
  }
}

.footer__logo-social--thumb {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.footer__logo--block {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 165px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.address__list {
  margin-top: 20px;
  @include text-style(14px, 1.71, 0.03em);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link--map {
  color: var(--main-dg-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__social--block {
  @media screen and (max-width: $mobile) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet), (max-width: 1199px) {
    margin-top: 5px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    margin-right: 93px;
  }
}

.footer__title {
  margin-bottom: 20px;
  @include text-style(14px, 1.14, 0.03em, bold);
  text-transform: uppercase;
  color: var(--main-dg-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__subscription--block {
  margin-top: 12px;
}

.subscription {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.subscription__input--thumb {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.subscription__email {
  flex-basis: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-dg-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn--thumb {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.subscription__btn {
  @extend %flex-center;
  justify-content: center;
}

.send-icon {
  margin-left: 10px;
}
