.hero__container {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg_hero-mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero__container {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_hero-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__container {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg_hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero__container {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_hero-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero__container {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg_hero-desktop@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-dg-color);
  @include text-style(26px, 1.62, 0.06em, 900);
  max-width: 360px;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    @include text-style(44px, 1.36, 0.06em, 900);
  }
}
