.team {
  background-color: var(--secondary-dg-color);
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
}

.team__item {
  max-width: 450px;
  margin: 0 auto 30px auto;
  padding-bottom: 24px;
  background-color: var(--main-dg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 8 * 15px) / 4);
    padding-bottom: 30px;
  }
}

.team__title {
  margin-top: 30px;
  margin-bottom: 10px;
  @include text-style(16px, 1.19, 0.03em, 500);
  text-align: center;
}

.team__position {
  margin-bottom: 16px;
  @include text-style(16px, 1.19, 0.03em);
  text-align: center;
  color: var(--secondary-color);
}
