.logo {
  @extend %flex-center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  @include text-style(24px, 1.17, 0.03em, bold);
  color: var(--accent-color);

  &__header {
    color: #000000;
  }

  &__footer {
    color: var(--main-dg-color);
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    @include text-style(26px, 1.19, 0.03em, bold);
  }
}
