body {
  padding-top: 60px;
  background-color: var(--main-dg-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-color);

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 94px 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
