:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --hover-accent-color: #188ce8;
  --secondary-color: #757575;
  --main-dg-color: #ffffff;
  --secondary-dg-color: #f5f4fa;
  --third-color: #afb1b8;
  --third-dg-color: #2f303a;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
